body {
    font-family: Arial, sans-serif;
    background: plum;
    text-align: center;
    padding: 100px;
  }

  h1 {
    color: aquamarine;
  }
button {background-color: aquamarine;

}
  
  .pet {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s;
    padding-top: 100px;
  }

  .pet:hover {
    transform: scale(1.05);
  }

  #counter {
    font-size: 20px;
    margin-top: 10px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }

  #actions {
    margin-top: 20px;
  }
  nav {background-color: aqua;
    padding: 20px;
    text-align: center;
    word-spacing: 90px;

  }
  